.title-body{
    background-color:black;
    color:white
}

.article-body{
    background-color:darkgray;
}

.tooltip {
    position: absolute;
    width: 150px;
    height: 65px;
    padding: 10px;
    font: 12px sans-serif;
    text-align: center;
    color: white;
    background: black;
    border: 0;
    border-radius: 10px;
  }